# Mandatory settings

name: ASN
paginate: 25
paginate_path: "/posts/page/:num/"
url: https://asn.ninja # add site url http://example.com/
blog_theme: light # Or use dark

# Optional settings

discus_identifier: anton_stepan # Add your Disqus identifier
ga_analytics: UA-62866754-1 # Add your GA Tracking Id
rss_enabled: false # Change to false if not
about_enabled: false # Change to true if you wish to show an icon in the navigation that redirects to the about page
social:
  dribbble: # Add your Dribbble handle
  facebook: # anton.stepan
  flickr: # Add your Flickr handle
  github: asndev
  linkedin: antonstepan
  twitter: asndev
  email: # Add your Email address
  bitcoin: # Add your Bitcoin link or address

# Important settings (change at own risk)

assets:
  compress:
    css: true
    js: true
  features:
    automatic_img_size: false
  sources:
    - _assets/fonts
    - _assets/images
    - _assets/javascripts
    - _assets/stylesheets
    - _vendor/
collections:
  my_tags:
    output: true
    permalink: /tag/:slug/
defaults:
  -
    scope:
      path: ""
      type: my_tags
    values:
      layout: articles_by_tag
exclude:
  - .travis.yml
  - bin/*
  - circle.yml
  - Gemfile
  - Gemfile.lock
  - README.md
  - vendor/
gems:
  - jekyll-assets
  - jekyll-paginate
  - jekyll-sitemap
  - jemoji
permalink: posts/:slug
