<footer class="footer">
  <section>
    <img class="avatar" src="{% asset_path 'avatar.png' %}" alt="avatar" />
    <div class="footer__text">
      <h3 class="hello">Hello, I'm Anton</h3>
      and I work at <a href="https://patronas.com" target="_blank">PATRONAS Financial Systems</a> as a software engineer. I really love latest technologies and enjoy talking about cutting edge software concepts, frameworks and products.
    </div>
  </section>
  <section>
    <p>
        © Copyright 2016 Anton Stepan | theme based on chalk | Get in touch hi@asn.ninja
    </p>
  </section>
</footer>
