<footer class="footer">
  <section>
    <img class="avatar" src="{% asset_path 'avatar.png' %}" alt="avatar" />
    <div class="footer__text">
      <h3 class="hello">Hello, I'm Anton</h3>
      and I work at <a href="https://google.com" target="_blank">Google</a> as a technical solutions consultant. I really love latest technologies and enjoy talking about cutting edge software concepts, frameworks and products.
    </div>
  </section>
  <section>
    <p>
        Disclaimer: The opinions stated here are my own, not those of my company.<br/>
        © Copyright 2016-2017 Anton Stepan | theme based on chalk | Say hello: hi@asn.ninja
    </p>
  </section>
</footer>
