// =============================================================================
// Footer
// =============================================================================

.footer {
  padding: 55px 0 15px;
  border-top: 1px solid $base-border-color;

  a {
    text-decoration: none;
    border-bottom: 1px dotted rebeccapurple;
  }

  a:hover {
    border-bottom: 3px solid slateblue;
  }

  section {
    display: -webkit-flex;
    display: flex;
    justify-content: center;

    p {
      font-size: 15px;
      padding-top: 15px;
      color: $gray-lighter;
    }
  }

  .hello {
    color: black;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: -1.5px;
  }

  .avatar {
    margin-bottom: 30px;
    border-radius: 50%;
    width:120px;
    height:120px;
  }

  .footer__text {
    text-align: justify;
    padding-left: 15px;

    h3 {
      color: black;
    }
  }

}
